@use '../../scss/' as *;

button {
    cursor: pointer;
    font-family: $font-family;
}

.btn {
    padding:  0.5rem 1.8rem;
    background-color: $main-color;
    color: $text-color;
    border: 4px solid transparent;
    border-radius: $border-radius;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0px 0px 7px 8px #ff00004d;
    transition: box-shadow .3s ease;
    position: relative;
}

.btn:hover {
    box-shadow: 0px 0px 7px 15px #ff00004d;
}

.btn-outline {
    border: 3px solid $text-color;
    background-color: transparent;
    color: $text-color;
    box-shadow: unset;
    transition: color .3s ease, background-color .3s ease;
}

.btn-outline:hover {
    box-shadow: unset;
    color: $main-color;
    background-color: #fff;
}

.btn-small {
    border-width: 2px;
    padding: .25rem 1.5rem;
    font-size: 1rem;
}