@use "../../scss/" as *;
.footer {
    position: relative;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem 2rem;

    &__content {
        max-width: 1000px;

        &__logo {
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 3rem;

            @include flex(center, center);

            img {
                margin-right: 10px;
                width: 50px;

                @include mobile {
                    width: 30px;
                    margin-right: 0;
                }
            }
        }

        &__menus {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

        }
        &__menu {
            @include flex(flex-start, flex-start);
            flex-direction: column;
            margin-top: 1rem;

            font-size: 1.5rem;
            font-weight: 600;

            & > * ~ * {
                margin-top: 1rem;
            }
        }
    }
}